/* Start main rules */

* {
    box-sizing: border-box;
}

body {
    padding-top: 150px;
}

h1,h2,h3,h4,h5,.lead {font-family: 'Open Sans', sans-serif;}

i.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(255, 81, 81);
    cursor: pointer;
}

.date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #9e9e9e;
}

.comment {
    font-size: 15px;
}

.comment .custom {
    font-weight: bold;
    font-size: 20px;
}
/* End main rules */

/* Start navbar */

.navbar {
    min-height: 70px;
}

.navbar-default {
    background-color: #FFF;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
}

.navbar-brand {
    padding: 24px 15px;
    padding-right: 40px;
    padding-left: 5px;
    font-size: 24px;
}

.navbar-default .navbar-nav > .active > a {
    color: #555;
    font-weight: bold;
    border-bottom: 2px solid;
    background-color: #FFF;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: #FFF;
    color: rgb(0, 122, 115);
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(0, 122, 115);
}

.profile_image {
    width: 30px;
    height: 30px;
}

.navbar-nav > li > a.image-link{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* end navbar */

/* Start sign up */

/* start intro */
.intro {
    padding: 0 7%;
}

.intro .title {
    font-weight: bold;
    margin-bottom: 50px;
}

.intro .info {
    margin: 20px 0;
}

.intro .info i.fa-check-square-o {
    font-size: 70px;
    color: #FF6682;
}

.intro .info i.fa-mobile {
    font-size: 100px;
    padding-left: 5px;
    color: #aecbf8;
}

.intro .info i.fa-paper-plane {
    font-size: 50px;
    color: #82ECB7;
}
/* end intro */
/* start signup form */
.signup-form {
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 30px 3%;
}

.signup-form .title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.signup-form .signup-input input {
    height: 40px;
}

.signup-form .validation {
    color: #919191;
    padding: 10px 0;
}

.signup-form .signup,
.signup-form .google-login {
    height: 40px;
    font-size: 20px;
}

.signup-form .signup {
    height: 40px;
    font-size: 20px;
    background-color: #1eabf9;
}

.signup-form .signup:hover {
    background-color: #126795;
}

.signup-form .or {
    color: #919191;
    padding: 15px 0;
}

.signup-form .or:before,
.signup-form .or:after {
    content: "";
    width: 40%;
    display: inline-block;
    border-top: 1px solid #919191;
    margin-bottom: 5px;
}

.signup-form .or:before {
    margin-right: 20px;
}

.signup-form .or:after {
    margin-left: 20px;
}

.signup-form .google-login img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
    margin-right: 10px;
}

.signup-form .signin {
    margin-top: 20px;
    font-size: 15px;
}

.signup-form .backend-error {
    margin-top: 10px;
    margin-bottom: 0;
    height: 30px;
    line-height: 30%;
}
/* end signup form */
/* start login form */
.intro .login-image {
    margin: 50px 80px 0 0;
    width: 400px;
    height: 250px;
}
/* end login form */

/* End sign up */

/* Start my-links */

.my-links .link {
    border: 2px solid #DDD;
    border-radius: 10px;
    padding: 50px 15px;
    margin-bottom: 30px;
    position: relative;
}

.my-links .link:hover {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;
}


.my-links .link .icon i {
    font-size: 200px;
}

.my-links .link .title {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

.my-links .link i.update {
    color: rgb(0, 99, 90);
    cursor: pointer;
    font-size: 25px;
    margin-left: 5px;
}

/* End my-links */